# Python
__pycache__/
*.pyc
*.pyo

# Virtual environment
backend/venv/

# Environment variables
.env

# Docker
*.log
*.db
# other files for dev only
test.http
# this file is used to extract the data from the pdf, must be placed at the root of the project to be coppied on the container
tika-app-2.9.4.jar